@import url(modulo-07.css);

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.navegation {
    position: relative;
    height: 100px;
    background-color: goldenrod;
}

.menu-bar {
    position: absolute;
    text-decoration: none;
    top: 15px;
    right: 100px;
    margin-top: 15px;
    margin-bottom: 19px;
    font-size: 24px;

}

a {
    text-decoration: none;
    padding-left: 15px;
}

.logo {
    position: relative;
    height: 100px;
    display: inline-block;
}

.logo-png {
    position: absolute;
    top: 3px;
    left: 20px;
}

nav {
    border-bottom: solid 3px #444;
}

.option-menu {
    position: relative;
}


.input-menu{
    position: absolute;
    padding: 5.5rem 45%;
    background-color: grey;
}

form div {
    color: blue;
    width: 200px;
    padding: 5%;
    border-bottom: 2px solid blue;
}